html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  top: 70px;
  background: #f8f9ff;
}

a {
  color: #1e1e1e;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  body {
    /* font-size: 16px; */
    text-align: left;
  }
}

/* Tablet */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    /* font-size: 15px; */
    text-align: center;
  }

  /* main {
    padding: 0 32px;
  } */
}

/* Phone */
@media only screen and (min-width: 479px) {
  body {
    /* font-size: 14px; */
    text-align: center;
  }

  /* main {
    padding: 0 24px;
  } */
}
