@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  top: 70px;
  background: #f8f9ff;
}

a {
  color: #1e1e1e;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  border-radius: 8px;
}
